@media (max-width:768px) {
  .inner {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }

  /***** Header *****/
  header {
    padding: 35px;
    background-color: var(--color-navy);
  }

  /***** Intro *****/
  .intro-container {
    width: 100%;
  }

  .star {
    overflow-x: hidden;
  }

  .intro h1 {
    font-size: 65px;
    letter-spacing: 1.5px;
  }

  .intro h1 p {
    font-size: 17px;
    line-height: 5px;
  }

  /***** About *****/
  .about-container {
    flex-direction: column;
    width: 100%;
  }

  .about-img {
    padding: 0;
  }

  .about-img img {
    width: 100%;
    height: 100%;
  }

  /***** Project *****/
  .project-container {
    flex-direction: column;
    width: 100%;
  }

  .project-img {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }

  .project-img:hover {
    transform: scale(1.05);
  }

  .project-contents {
    margin-left: 0px;
    margin-bottom: 30px;
    text-align: center;
  }

  /***** CloneCoding *****/
  .clone-container {
    width: 100%;
  }

  .image-grid {
    grid-template-columns: 1fr;
  }

  .clone-image {
    width: 100%;
  }
}