@media (max-width:768px) {
  body {
    font-size: var(--font-regular);
  }

  .inner {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }

  .title {
    font-size: var(--font-semi-large);
    margin-bottom: 30px;
  }

  /* Intro */
  .intro h1 p {
    width: 100%;
  }

  .intro h1 {
    font-size: 60px;
    letter-spacing: 1.5px;
  }

  .intro h1 p {
    font-size: 15px;
    line-height: 5px;
  }
  
  .menu {
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    opacity: 0.8;
    position: fixed;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  }

  .menu li:nth-child(1) {
    margin: 0;
  }

  .menu li a {
    display: block; 
    color: #000;
    margin: 0 10px;
  }


  /* About */
  .about {
    padding: 50px 0;
  }

  .about-set {
    flex-direction: column;
  }

  .about-left-img {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .about-left-img img{
    width: 100%;
    height: 100%;
    align-items: center;
  }

  .me {
    text-align: center;
    padding-bottom: 30px;
  }

  .about-right {
    margin-top: 50px;
  }

  .about-right span {
    text-align: center;
  }

  .name {
    font-size: var(--font-medium);
    margin-left: 10px;
  }

  .category {
    font-size: var(--font-regular);
  }

  .about-title {
    font-size: var(--font-regular);
    padding: 15px 0;
  }

  .gif-imgs {
    flex-direction: column;
  }

  .gif-imgs li {
    margin: auto;
    width: 100%;
  }

  .gif-imgs li img {
    margin: auto;
    width: 100%;
    height: 100%;
  }

  .gif-imgs-des span {
    font-size: var(--font-medi-regular);
  }

  /* Project */
  .project {
    padding: 80px 0;
  }

  .myslider {
    width: 100%;
    height: 100%;
  }

  .slider-img img {
    margin-bottom: 20px;
  }
  
  .project_description {
    display: none;
  }


  /* Footer */
  .footer-set {
    flex-direction: column;
    width: 100%;
  }

  .send {
    width: 100%;
    padding: 20px;
  }

  .info-entry input {
    width: 100%;
  }

  .check p:nth-child(1) {
    padding: 10px 0;
    font-size: var(--font-micro);
  }

  .check p:nth-child(2) {
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  .copyright {
    font-size: 14px;
  }

  .custom-btn {
    width: 100%;
  }

}