:root {
  /* Color */
  --color-white:#fff;
  --color-black: #000;
  --color-light-black: #222;
  --color-light-white:#f2f2f2;
  --color-dark-white: #bbb;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-beige: #f6f2ef;
  --color-light-beige: #f9f9f9ed;
  --color-navy: #131E33;
  --color-deep-blue:#112d4e;
  --color-light-blue:#3f72af;
  --color-sky-blue:#dbe2ef;
  --color-orange:#ffc745;
  --color-light-orange: #ffd280;
  --color-choco: #968C78;
  --color-deep-orange: #dbb842;

    /* Font size */
    --font-large: 48px;
    --font-semi-large: 34px;
    --font-medium: 32px;
    --font-semi-medium: 28px;
    --font-medi-regular: 24px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 15px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
  
    /* Size */
    --size-border-radius: 4px;
  
    /* Annimation */
    --animation-duration: 300ms;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  font-size: var(--font-micro);
  color: var(--color-light-black);
  line-height: 1.5em;
  font-weight: 300;
}

/***** Common *****/
.inner {
  width: 1300px;
  margin: auto;
}

.title {
  margin: 80px 0;
  color: var(--color-light-white);
  font-size: var(--font-large);
  text-align: center;
}

/***** Header *****/
header {
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
}

.trigger {
  display: block;
  width: 50px;
  height: 30px;
  position: absolute;
  right: 15px;
  top:15px;
}

.trigger span {
  position: absolute;
  height: 5px;
  background-color: var(--color-orange);
  width: 100%;
  transition: 0.3s;
  z-index: 9999;
}

.trigger span:nth-child(1) {
  top: 0;
}
.trigger span:nth-child(2) {
  top: 50%;
}
.trigger span:nth-child(3) {
  top: 100%;
}

.trigger.active span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

.trigger.active span:nth-child(2) {
  opacity: 0;
}

.trigger.active span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

.trigger:hover{
  cursor: pointer;
}

.gnb {
  position: fixed;
  top: 0;
  right: -550px;
  margin-top: 0;
  width: 550px;
  height: 100vh;
  flex-direction: column;
  background-color: var(--color-light-beige);
  z-index: 100;
  text-align: right;
  padding-right: 10px;
  padding-top: 80px;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.17);
  transition: 0.3s;
}

.gnb li:nth-child(1) {
  margin-top: 50px;
}

.gnb li a {
  display: block;
  color: #000;
  margin: 0;
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  padding: 20px 10px;
}

.gnb.active {
  right: 0;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

/***** Intro *****/
.intro {
  overflow: hidden;
  width:100%;
  height:100vh;
  background-color: #182540;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
} 

.intro h1 {
  font-family: 'DM Serif Display';
  color: #fff;
  font-size: 150px;
  text-align: center;
  text-shadow: 3px 1px 20px var(--color-dark-white);
  letter-spacing: 10px;
}

.intro h1 p {
  font-size: var(--font-regular);
  line-height: 1px;
}

/***** About *****/
.about-container {
  display: flex;
  justify-content: center;
}

.about-img {
  padding: 0 100px;
}

.about-img img{
  width: 400px;
  height: 400px;
  border-radius: 20%;
}

.about-container {
  align-items: center;
}

.about-container strong {
  color: #FFC745;
  font-size: var(--font-semi-large);
  line-height: 3em;
}

.about-container p {
  color: var(--color-light-black);
  font-size: var(--font-small);
  line-height: 2em;
}

/***** Project *****/
.project-container {
  display: flex;
  justify-content: center;
}

.project-img {
  flex: 2;
  /* width: 850px;
  height: 600px; */
  overflow: hidden;
  transition: all 0.2s linear;
}

.project-img img{
  width: 100%;
  height: 100%;
}

.project-img:hover {
  transform: scale(1.1);
}

.project-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: 50px; */
}

.number {
  color: var(--color-choco);
  font-size: var(--font-semi-large);
  font-weight: var(--weight-bold);
  padding: 10px 0;
}

.project-title {
  color: var(--color-light-black);
  font-size: var(--font-semi-medium);
  font-weight: var(--weight-semi-bold);
  padding: 10px 0;
}

.project-description {
  color: var(--color-black);
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  padding-bottom: 20px;
}


.project-contents dl dt {
  color: var(--color-choco);
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  padding: 10px 0;
  text-align: center;
}

.project-contents dl dd {
  color: var(--color-light-black);
  font-size: var(--font-small);
  font-weight: 500;
  text-align: center;
}

.contents-02 > div:nth-child(1) {
  color: var(--color-deep-orange);
}

.contents-02 dl dt {
    color: var(--color-deep-orange);
}

/***** Clone *****/
.clone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.clone-title h1 {
  font-size: var(--font-semi-large);
  font-weight: var(--weight-bold);
  padding: 5px 0;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 5px; 
  justify-items: center;
}

.clone-image {
  /* width: 100%; */
  width: 400px;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
  transition: all 0.1s linear;
}

.clone-image img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
}

.clone-image:hover {
  transform: scale(1.05);
}
